<!DOCTYPE html>
<html>
<!-- Html Head Tag-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <!-- Site Title -->
    <title>Keep It Simple Do It Well</title>
    <#include "commons/header.html"/>
</head>

<body>
    <!-- Home Header -->
    <#include "index/header.html"/>
    <!-- Home Page Post List -->
    <#include "index/container.html"/>
    <!-- Pagination -->
    <#include "index/pagination.html"/>
    <!--引入 footer-->
    <#include "commons/footer.html"/>
    <!--引入js-->
    <#include "commons/js.html"/>
</body>
</html>

