<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Open Graph Data -->
<meta property="og:title" content="Keep It Simple Do It Well"/>
<meta property="og:description" content="" />
<meta property="og:site_name" content="Keep It Simple Do It Well"/>
<meta property="og:type" content="website" />
<meta property="og:image" content="http://yoursite.comundefined"/>
<meta name="author" content="wangqian">
<link rel="alternate" href="/atom.xml" title="Keep It Simple Do It Well" type="application/atom+xml">
<link rel="icon" href="/img/favicon.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/style.light.css">
<!-- Google Analytics -->