<article>
    <div class="container typo">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-info text-muted">
                    <!-- Author -->
                    <span class="author info">By ${detail.userName}</span>
                    <!-- Date -->
          <span class="date-time info">On
            <span class="date">${detail.createTime?date}</span>
            <span class="time">${detail.createTime?time}</span>
          </span>
                    <!--  Categories  -->
            <span class="categories info">Under

<a href="/categories/coding/">${detail.categoryName}</a>
</span>

                </div>
                <!-- Tags -->
                <div class="post-tags text-muted">
                    Tags:
                    <a class="tag" href="/tags/requirejs/">#${detail.tags}</a>

                </div>

                <!-- Post Main Content -->
                ${detail.content}
            </div>
        </div>
    </div>
</article>